[Unit]
Description=Set fan speed at boot

[Service]
Type=oneshot
ExecStart=/usr/bin/fan_state set 3
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
