name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            artifact: fan_state
          # - target: x86_64-unknown-linux-gnu
          #   artifact: fan_state_no_dbus
          #   features: --no-default-features

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          targets: ${{ matrix.target }}

      - name: Install dependencies
        if: ${{ matrix.features != '--no-default-features' }}
        run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev

      - name: Build
        run: cargo build --release --target ${{ matrix.target }} ${{ matrix.features }}

      - name: Rename binary
        run: mv target/${{ matrix.target }}/release/fan_state ${{ matrix.artifact }}

      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.artifact }}
